#inquiry-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #91704e;
  padding-left: 20px;
  padding-top: 50px;
}

#inquiry-details .details {
  width: 30%;
}

#inquiry-details .details span,
#form-details form span {
  font-size: 15px;
}

#inquiry-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 30px;
  padding: 15px 0;
}

#inquiry-details .details h3 {
  font-size: 15px;
  padding: 15px;
}

#inquiry-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#inquiry-details .details li i{
  padding-right: 10px;
  font-size: 14px;
}

#inquiry-details .details li a{
  font-size: 14px;
  padding-right: 22px;
}

#inquiry-details .details li p{
  margin: 0;
  font-size: 14px;
}

#inquiry-details .map {
  width: 55%;
  height: 400px;
}

#inquiry-details .map iframe{
  width: 100%;
  height: 100%;
}

#form-details{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 30px;
  border: 1px solid #e1e1e1;
  background-color: #91704e;
}

#form-details form{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
}

#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

.submit {
  border: none;
  cursor: pointer;
  background-color: #088178;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
}