body {
background: #f5f5f5;
}


.header {
text-align: center;
padding: 40px 20px;
background: #91704e;
color: black;
}


.trustees {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 40px 20px;
gap: 30px;
background-color: #91704e;
}

.trustees-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}


.trustee-card {
background: white;
border-radius: 10px;
padding: 20px;
width: 280px;
text-align: center;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
opacity: 0;
transform: translateY(40px); /* Start below */
transition: all 0.9s ease-out;
}


.trustee-card:hover {
transform: scale(1.04);
box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}


.trustee-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}


.trustee-card h3 {
margin: 15px 0 5px;
font-size: 1.2rem;
}


.trustee-card p {
margin: 5px 0;
}

/* Trigger animation when JS adds .show */
.trustee-card.show {
  opacity: 1;
  transform: translateY(0);
}


.bio {
font-size: 0.9rem;
color: #555;
margin-top: 10px;
}

@media (max-width: 477px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 30px;
    background-color: #91704e;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .trustees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px;
    gap: 20px;
    background-color: #91704e;
  }

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .trustee-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .trustee-card h3 {
    margin: 12px 0 3px;
    font-size: 1.0rem;
  }

  .bio {
    font-size: 0.7rem;
    color: #555;
    margin-top: 10px;
  }

  .footer h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    font-weight: 500;
  }

  .footer {
    background: #000;
    background-color: #91704e;
    text-align: center;
    padding: 20px 10px;
    font-family: 'Poppins', sans-serif;
  }

  .social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
}