section{
    padding: 20px;
    text-align: center;
    background-color: #91704e;
}

.events-container{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
}

.event-card{
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.event-card:h3{
    color: #b30000;
}

button{
    background: #8c0303;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    transition: opacity 0.3s ease;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #a70202;
}

button:active{
    opacity: 0.8;
}

@media (max-width: 477px) {
  .events-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    margin-left: 20px;
    gap: 10px;
  }

  button {
    background: #8c0303;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    transition: opacity 0.3s ease;
    transition: background-color 0.3s;
    align-items: center;
  }
}